@page "/about"

<h1>About Quasar</h1>

<p>
    QUASAR is the rebirth of the legacy Synergies Quality Assurance System; QUality Assurance System Awesome Rebirth.
</p>

<p>
    This new instance focuses just on the evaluation process and the search of those evaluations. Evaluators now have a more simpler and friendlier interface to
    search and do evaluations for the agents of their projects.
</P>

<p>    
    Also, the agents can search and see the details of each evaluation made to them.
</P>

<h2>This developers have contributed to the project:</h2>

<ul>
    <li>Wellinton Muñoz</li>
    <li>Ylvin Pérez</li>
</ul>


@code {

}
