@page "/"

<h1>Welcome to Quasar.</h1>

<p>This system serves the members of QA in their evaluation tasks, and helps other agents to see the details of their evaluated processes.</p>

<p>Explore the navigation panel on the left to use the system.</p>

@code {

}
