<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebUI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Release" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <system.web>
    <authentication mode="None" />
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <remove name="From Domain Full to Hostname" />
        <remove name="RedirectDNS" />
        <rule name="RedirectDNS" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="afrodita$" />
          </conditions>
          <serverVariables />
          <action type="Redirect" url="http://intranet/SynergiesSystem" />
        </rule>
        <rule name="From Domain Full to Hostname" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="intranet.domain.synergiesservices.com" />
          </conditions>
          <serverVariables />
          <action type="Redirect" url="http://intranet/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <httpRedirect enabled="false" destination="" exactDestination="false" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 77d7ffa4-c29b-4c57-a8ab-6f309c3dc235-->